* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: rgb(240, 170, 70);
  background-color: rgb(20, 20, 20);
}

.container {
  border-top: 1.5px solid rgba(240, 170, 70, 0.8);
  width: auto;
  padding: 0 40px;
}

.main-header {
  background-color: rgb(15, 15, 15);
  padding: 20px 40px;
  padding-top: 60px;
}

h1,
h2,
h3,
h4 {
  color: rgb(240, 170, 70);
}

h1 {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 2px;
}

h2 {
  font-size: 50px;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-left: 10px;
}

h3 {
  font-size: 36px;
  margin: 0 16px;
  padding-top: 70px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 28px;
}

.intro-section {
  position: relative;
}

.intro-img {
  position: absolute;
  right: 0px;
  top: 110px;
  width: 1300px;
  border-bottom: 1px solid rgba(240, 170, 70, 0.8);
}

.notes {
  margin-top: 8px;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note {
  background: linear-gradient(to right, rgb(120, 80, 30) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(120, 80, 30) 1px, transparent 1px);
  background-color: rgba(120, 80, 30, 0.2);
  background-size: 100% 28px;
  padding: 0 20px;
  width: 380px;
  font-size: 15px;
  border: 2px solid rgb(120, 80, 30);
  border-radius: 0.25rem;
}

.margin-left {
  margin-left: 28px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

ul {
  line-height: 28px;
  list-style-type: "– ";
  margin-left: 10px;
}

li {
  margin-bottom: 28px;
}
