* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgba(255, 170, 30, 0.05);
}

.container {
  border-top: 20px solid rgba(255, 170, 30, 0.888);
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: rgba(255, 170, 30, 0.15);
  padding: 20px 40px;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4 {
  color: rgb(255, 170, 30);
}

h1 {
  font-size: 36px;
  font-style: italic;
  margin: 10px 0;
}

h2 {
  font-size: 46px;
  margin: 30px 0;
}

h3 {
  font-size: 36px;
  margin: 0 16px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 32px;
}

.notes {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note {
  background: linear-gradient(
    to bottom,
    rgba(255, 170, 30, 0.15),
    rgba(255, 170, 30, 0.15) 95%,
    rgba(120, 80, 30, 0.6) 5%,
    rgba(120, 80, 30, 0.6)
  );
  background-size: 100% 32px;
  padding: 0 20px;
  width: 380px;
  font-size: 15px;
}

ul {
  line-height: 32px;
  list-style-type: "– ";
}
